<h1>Welcome#index</h1>
<p>Confira os <%= link_to 'Usuários', users_path %>
 e os <%= link_to 'Posts', posts_path %></p>

 <p>Ou adicione os <%= link_to 'Usuários', new_user_path %>
  e os <%= link_to 'Posts', new_post_path %></p>
